In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/silogramd/NBA-Draft-Project/master/draft_player_data'
data = pd.read_csv(url,index_col=0,parse_dates=[0])

data.dropna(inplace=True)
data = data[data['year'] > 1988]
data.head()

,year,draft_pick,name,link,g_total,mp_total,pts_total,trb_total,ast_total,fg,fg3,mp_pg,pts_pg,trb_pg,ast_pg,ws,ws/48,bpm,vorp
540,2015,1,Karl-Anthony Towns,/players/t/townska01.html,323.0,11120.0,7187.0,3831.0,839.0,0.537,0.392,34.4,22.3,11.9,2.6,45.4,0.196,5.0,19.6
541,2015,2,D'Angelo Russell,/players/r/russeda01.html,272.0,7752.0,4493.0,999.0,1381.0,0.419,0.353,28.5,16.5,3.7,5.1,6.6,0.041,0.4,4.6
542,2015,3,Jahlil Okafor,/players/o/okafoja01.html,190.0,4013.0,2178.0,976.0,175.0,0.530,0.200,21.1,11.5,5.1,0.9,5.3,0.063,-3.5,-1.5
543,2015,4,Kristaps Porziņģis,/players/p/porzikr01.html,186.0,5764.0,3312.0,1317.0,248.0,0.437,0.361,31.0,17.8,7.1,1.3,12.1,0.100,-0.1,2.8
544,2015,5,Mario Hezonja,/players/h/hezonma01.html,277.0,5236.0,2028.0,842.0,365.0,0.417,0.321,18.9,7.3,3.0,1.3,2.4,0.022,-3.0,-1.3

In [2]:
data_by_year = data.groupby("year")

In [3]:
data_by_year

In [4]:
data_by_year.min